APP_NAME=Vitrine
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://vitrine-api.pauloricardo.dev.br
APP_TIMEZONE=America/Sao_Paulo
APP_LOCALE=pt_BR

FRONTEND_URL=https://vitrine.pauloricardo.dev.br

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=
DB_PORT=5432
DB_DATABASE=vitrine
DB_USERNAME=vitrine
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
CACHE_STORE=redis
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

# Redis — rodando no mesmo container via supervisord
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

PASSPORT_PRIVATE_KEY=
PASSPORT_PUBLIC_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://vitrine-api.pauloricardo.dev.br/auth/google/callback
